* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  /* display: none; */
}

button {
  cursor: pointer;
}

/* Loading Div */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  margin: auto;
  width: 80px;
  height: 80px;
  border: 5px solid #ddd;
  border-top: 5px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  main {
    display: block;
    padding-block-end: 2.8rem;
  }
}
